<div class="expenses-container">
  <h1 class="expenses-heading">Expenses</h1>
  <ul class="expenses-list">
    <li>Expense 1</li>
    <li>Expense 2</li>
    <li>Expense 3</li>
    <li>Expense 4</li>
    <li>Expense 5</li>
  </ul>
</div>
