<div class="expenses-container">
  <h1 class="expenses-heading">Expenses</h1>
  <div class="expenses-list">
    <p>Expense 1</p>
    <p>Expense 2</p>
    <p>Expense 3</p>
    <p>Expense 4</p>
    <p>Expense 5</p>
  </div>
</div>
