<div class="expenses-container">
  <h1 class="expenses-heading">Expenses</h1>
  <div class="expenses-list">
    <!-- <div class="expense">
      <div>
        <h3 class="expense-name">Expense name</h3>
        <h3 class="expense-description">Expense desc</h3>
      </div>
      <h3 class="expense-price">$10</h3>
    </div> -->
  </div>
</div>
