<div class="expenses-container">
  <h1 class="expenses-heading">Expenses</h1>
  <div class="expenses-list">
    <div class="expense">
      <h3>Expense name</h3>
      <h3>$Expense price</h3>
    </div>
  </div>
</div>
