<!-- where the expenses will be rendered from renderController.js -->

<div class="expenses-container">
  <h1 class="expenses-heading">Expenses</h1>
  <div class="expenses-list">
    <!-- expenses will be rendered here -->
  </div>
</div>
