<!-- the head and body that is standard on each page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=sentient@400,700,501,500,401&display=swap"
      rel="stylesheet"
    />
    <title>Expense Tracker</title>
  </head>
  <body>
    <!-- ensures that the navbar and footer are on every page -->
    <%- include('partials/navbar') %> <%- body %> <%- include('partials/footer')
    %>
  </body>
  <script src="javascript/renderController.js"></script>
</html>
