<div class="new-expense-container">
  <h1 class="new-expense-heading">Add New Expense</h1>
  <form class="new-expense-form" method="post" action="/api/expenses">
    <input
      placeholder="Expense name"
      class="new-expense-input"
      name="name"
      type="text"
    />
    <input
      placeholder="Expense price (numbers only)"
      class="new-expense-input"
      name="price"
      type="number"
    />
    <textarea
      placeholder="Expense description (max 25 characters)"
      class="new-expense-description"
      name="description"
      maxlength="25"
    ></textarea>
    <button class="new-expense-btn" type="submit">Submit</button>
  </form>
</div>
