/* css variables */
:root {
  --main-bg-color: #0b0c10;
  --secondary-bg-color: #1f2833;
  --main-text-color: #66fcf1;
  --secondary-text-color: #c5c6c7;
  --element-color: #45a29e;
}

/* default styling */
body {
  margin: 0;
  background-color: rgb(0, 76, 255);
  color: white;
  font-family: "Sentient", serif;
}

/* navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 103, 255);
}
nav h1 {
  font-weight: 300;
}
